@inject NavigationManager NavManager;

<div class="top-row ps-3 navbar navbar-dark">
  <div class="container-fluid">
    @if (!collapseNavMenu) { <a class="navbar-brand" href="" style="width:180px;">@RandomSaying()</a> }
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>

<div class="@NavMenuCssClass" style="height:calc(100% - 56px);">
  <nav class="flex-column" style="display:flex">
    <div class="nav-item px-3" style="position:relative;">
      <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" href="" aria-hidden="true"></span> 
        @if (!collapseNavMenu) { <p style="font-size:20px; line-height:0px; height:fit-content; padding:0px; margin:auto;">Home</p> }
      </NavLink>
    </div>
    <!--LAST ITEM IS HIDE BUTTON. KEEP AS LAST ITEM.-->
    <div class="nav-item px-3" style="position:relative; height:fit-content; margin-top:auto;">
      <NavLink class="nav-link" @onclick="ToggleNavMenu" style="cursor:pointer;">
        @if (!collapseNavMenu) 
        { 
          <svg style="height: 3.9em; fill: var(--scheme-text-color);" class="cool-icon" xmlns="http://www.w3.org/2000/svg">
	          <path d="M20 44 0 24 20 4 22.8 6.85 5.65 24 22.8 41.15Z"/>
          </svg>
          <p style="font-size:20px; line-height:0px; height:fit-content; padding:0px; margin:auto;">Hide Navbar</p>
        } 
        else
        {
          <svg style="height: 3.9em; fill: var(--scheme-text-color); position:absolute;" class="cool-icon" xmlns="http://www.w3.org/2000/svg">
	          <path d="M20 44 0 24 20 4 22.8 6.85 5.65 24 22.8 41.15Z"/>
          </svg>
        }
      </NavLink>
    </div>
  </nav>
</div>

@code {
  private bool collapseNavMenu = true;

  public string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

  private void ToggleNavMenu()
  {
    collapseNavMenu = !collapseNavMenu;
  }

  private string RandomSaying()
  {
    List<string> sayings = new() { "Gogcord!", "So goggy!", ":gogSerious:", "Bestcord!" };
    Random random = new();
    return sayings[random.Next(sayings.Count)];
  }
}
