@page "/"
@using gogcord.moe.Data;
@using System.Collections.Generic;
@using Microsoft.JSInterop;

<PageTitle>Gogcord!</PageTitle>

<h1>Gogcord</h1>

<p>
  Gogcord is a community of likeminded individuals, all here to enjoy the gog series, our ever-expanding collection of primate gifs and videos.
  <br/>
  Join gogcord and experience the horror for yourself.
</p>
