@page "/"
@page "/Home"
@using gogcord.moe.Data;
@using gogcord.moe.Data.Discord;
@using System.Collections.Generic;
@using Microsoft.JSInterop;
@inject IJSRuntime JS;

<PageTitle>Gogcord!</PageTitle>


<div class="main-stuff" id="shit-in-my-mouth" style="background-image:url(@backGroundUri)">
  @if (guildInfo != null)
  {
    <div id="server-widget">
      <div class="server-thumb" style="background-image:url(@(NavManager.BaseUri)images/gogcord/gogflag.png)">
        <h1 class="server-title">@guildInfo.Name</h1>
      </div>
      <div class="server-details">
        <div class="server-members">
          @foreach (MemberInfo member in guildInfo.Members)
          {
            <DiscordMember memberInfo=member/>
          }

        </div>
        <div class="server-right">
          <div class="server-channels">

          </div>
          <div class="join-button" onclick="window.open('@(guildInfo.Instant_Invite)')">
            <p>Join @(guildInfo.Name)</p>
          </div>
        </div>
      </div>
    </div>
  }
  else
  {
    <p>There's supposed to be a Discord server widget I made right here. Odd.</p>
  }
</div>
