@page "/Stuff"

<div class="stuff-container">
  <img class="stuff-image" src="https://i.imgur.com/x4EQ7xH.png"/>
  <h1 class="stuff-title">Stuff</h1>
  <p class="stuff-description">Page dedicated to developer resources.</p>

  <div>

  </div>
</div>