@inject IJSRuntime JS

<!--This is a modal.-->
<div id="modal-background" class="background @ModalHidden" onclick="WindowUtils.removeModal(event.target)">
  <div id="modal-actually" class="gog-modal">
    
  </div>
</div>
<!--This is no longer a modal-->