@inject NavigationManager NavManager;

<a class="dropdown-button" href="https://discord.com/api/oauth2/authorize?client_id=962874982663331870&redirect_uri=@(NavManager.BaseUri.ToString())Profile%2F&response_type=code&scope=identify">
  Click here to log in.
</a>