@page "/"
@page "/Home"
@using gogcord.moe.Client.Data;
@using gogcord.moe.Client.Data.Discord;
@using gogcord.moe.Shared.Discord;
@using System.Collections.Generic;
@using Microsoft.JSInterop;

@inject IJSRuntime JS;
@inject NavigationManager NavManager;
@inject HttpClient Http;

<PageTitle>Gogcord!</PageTitle>

<div class="main-stuff" id="shit-in-my-mouth" style="background-image:url(@backGroundUri)">
  @if (guildInfo != null)
  {
    <div id="server-widget">
      <!--Very scuffed discord embed I made. Wow.-->
      <div class="server-thumb" style="background-image:url(@(NavManager.BaseUri)images/gogcord/gogflag.png)">
        <h1 class="server-title">@guildInfo.Name</h1>
      </div>
      <div class="server-details">
        <div class="server-members">
          @foreach (MemberInfo member in guildInfo.Members)
          {
            <DiscordMember memberInfo=member/>
          }

        </div>
        <div class="server-right">
          <div class="server-channels">
            @foreach (ChannelInfo channel in guildInfo.Channels)
            {
              <DiscordChannel ChannelInfo=channel/>
            }
          </div>
          <div class="join-button" onclick="window.open('@(guildInfo.Instant_Invite)')">
            <p>Join @(guildInfo.Name)</p>
          </div>
        </div>
      </div>
    </div>
  }
  else
  {
    <p>I think this page is loading. I'm not too sure.</p>  
  }
</div>

//  TODO: MOVE ALL PROFILE COMPUTATION TO SERVER, VIA API