.main-stuff {
  display: flex;

  position: relative;

  margin: 0px;
  height: 100%;
  width: 100%;

  background-position: 100% 60%;
  background-size: cover;

  color: var(--scheme-text-color);
}

#server-widget {
  position: relative;

  height: min(63vh, 80vw);
  aspect-ratio: 1.1 / 1;
  padding: 8px;
  margin: auto;

  border-radius: 12px;
  background: var(--scheme-discord-background);
}

.server-thumb {
  display: flex;

  position: relative;

  height:50%;
  width: 100%;
  overflow: hidden;

  background-size: cover;
  background-position: 50% 50%;

  border-radius: 8px;
}

  .server-thumb .server-title {
    position: relative;
    height: fit-content;
    width: fit-content;
    margin: auto 11% auto auto;
    font-size: min(8vh, 10.2vw);
    color: #6f5c48;

    pointer-events: none;
  }

    .server-title::selection {
      color:unset;
      background: unset;
    }

.server-details {
  display: flex;
  position: relative;

  height: 50%;

  border-radius: 8px;
  gap: 8px;
  padding-top: 10px;
}

  .server-details .server-members {
    display: grid;
    grid-template-columns: calc(20% - 3px) calc(20% - 3px) calc(20% - 3px) calc(20% - 3px) calc(20% - 3px);
    column-count: 5;
    gap: 4px;

    width: 69%;
    height: 100%;

    background-color: var(--scheme-discord-accent-one);

    overflow: hidden scroll;
    border-radius: 8px;

    scrollbar-width: thin;
  }

    .member-container {
      width: 20%;
    }

  .server-details .server-right {
    position: relative;
    width: 31%;
  }

  .server-details .server-vcs {
    width: 100%;

    background-color: var(--scheme-discord-accent-one);
    border-radius: 8px;

  }

  .server-details .server-channels {
    background-color: var(--scheme-discord-accent-one);
    margin-bottom: 8px;

    height: calc(80% - 8px);

    border-radius: 8px;

    overflow: hidden scroll;
    scrollbar-width: thin;
  }

  .server-details .join-button {
    position: absolute;
    display: flex;

    grid-area: join;
    width: 100%;
    height: 20%;

    text-align: center;
    font-size: min(3vh, 3vw);
    color: #3ba55d;

    background-color: var(--scheme-discord-accent-one);
    border-radius: 8px;

    transition-duration: 0.1s;

    cursor: pointer;
  }

    .server-details .join-button p {
      margin: auto;
    }

    .join-button p::selection {
      color: unset;
      background: unset;
    }

    .server-details .join-button:hover {
      color: var(--scheme-text-color);

      border-radius: 16px;

      background-color: #3ba55d;
    }
