@namespace gogcord.moe.Client
@page "/Stuff"
@inject NavigationManager NavManager;
@using gogcord.moe.Client.AdvancedUI

<meta content="Embed Title" property="og:title" />
<meta content="Site Description" property="og:description" />
<meta content="https://gogcord.moe/this-is-the-site-url" property="og:url" />
<meta content="https://gogcord.moe/images/icons/Mob_Psycho.webp" property="og:image" />
<meta content="#43B581" data-react-helmet="true" name="theme-color" />

<div class="stuff-container">
  <img class="stuff-image" src="https://i.imgur.com/x4EQ7xH.png"/>
  <h1 class="stuff-title">Gogcord.moe Resources</h1>

  <!--TODO: Create a nice looking grid system, and display some "Stuff" here.-->
  <XboxLikeCardGridSystem Cards="Cards"/>
  @SetLinks()
</div>