/*  Root variables  */
:root {
  font-family: 'Roboto';
  overflow: hidden;
  transition-duration: 0.2s;
}
@media(prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --background-color: 1f1f1f;
    --layer-one: 3d3d3d;
    --layer-two: 666666;
  }
}
@media(prefers-color-scheme: light) {
  :root {
    --text-color: black;
    --background-color: white;
  }
}

/*  Other stuff. I dunno, I'm tired.  */
html {
  color: var(--text-color);
  background-color: var(--background-color);
  
  width: 100vw;
  height: 100vh;
}


body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

.titlebar {
  z-index: 1;
  position: absolute;
  display: flex;
  height: 7%;
  width: 100vw;
  background-color: var(--layer-one);
}

  .titlebar a {
    height: fit-content;
    width: fit-content;
    margin: auto 0% auto 1%;
    padding: 0.1em 1em;
    font-size: 4vh;
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
    border-radius: 8px;
    transition-duration: 0.2s;
    cursor: pointer;
  }

    .titlebar a:hover {
      background-color: var(--layer-two);
    }


button {
  color: white;
  font-size: max(2vw, 20px);
  margin: 0px 3px 0px 3px;
  padding: 0px;
  height: max(3vw, 40px);
  width: max(200px, 25vw);
  background-color: var(--layer-one);
  border: none;
  border-radius: 10px;
  text-align: center;
  flex-direction: initial !important;
}

button:hover {
  background-color: var(--layer-two);
}