.body {
  
}

.titlebar {
  height: 0px !important;
  visibility: hidden !important;
  
}

.site-body {
  position: relative;
  background-image: url(../Media/Images/young-chimp-chilling.jpg);
  background-size: max(100vw, 155vh);
  background-position-y: 43%;
  background-position-x: 30%;
  height: 100vh;
  width: 100vw;
}

@media (prefers-color-scheme: light) {
  .site-body {
    background-image: url(../Media/Images/white-gibbon.jpg);
    background-position-x: 50%;
    background-size: max(100vw, 180vh);
  }
}

.dark-layer {
  filter: brightness(85%);
  background: inherit;
  height: 100vh;
  width: 100vw;
}

.site-body > * {
  flex-direction: column;
}

.sub-section {
  display: flex;
  position: absolute;
  top: 30vh;
  height: 100vh;
  width: 100%;
  margin-bottom: 20vh;
  color: white;
}

.sub-section > * {
  margin: 7vh auto 0px auto;
}

.sub-section h2 {
  font-size: min(10vh, 15vw);
}

.sub-section h3 {
  font-size: min(4vh, 8vw);
  margin-top: 0px;
}

.sub-section p {
  width: 80vw;
  font-size: min(4vh, 5vw);
  text-align: center;
}

@media screen and (max-width: 60vh) {
  .sub-section .buttons {
    flex-direction: column;
    display: flex;
  }
  
  .sub-section > .buttons > button {
    height: 12vw;
    width: 75vw;
    margin-top: 1vh;
    font-size: 7vw !important;
  }
  
}
